html, body {
    animation: gradient 15s ease infinite;
}


h1 {
    color: white;
    font-family: 'Rubik';
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    animation: glow 2s ease-in-out infinite;
    font-size: 90px;
    
}

@keyframes glow {
    0% {
        text-shadow: 2px 2px 3px black;
    }
    50% {
        text-shadow: 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
    }
    100% {
        text-shadow: 2px 2px 3px black;
    }
}

.card {
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    width: 50vw;
    max-width: 50vw;
   
}

.card-title {
    font-family: 'Rubik';
    font-size: 30px;
    text-align: center;
}

.btn-primary {
    box-shadow: 1px 1px 2px black;
    font-family: 'Rubik';
}

.btn-primary:hover {
    background-color: #0a4d94;
    border-color: #09396c;
  }

p {
    font-family: 'Rubik';
    
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.sidebar {
    top: 5;
    right: 2;
    position: sticky;
    right: 0;
    width: 440px;
    margin-top: -48px; /* Adjust as needed */
    padding: 30px;
    background-color: #f8f9fa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 40px; /* Adjust the value as needed */
    background-color: black;
    color: white;
    height: 800px

}
@media screen and (max-width: 1050px) {
    .sidebar {
        display: none;
    }
    .card {
        width: 90vw;
        margin-left: 0.3em ;
    }
}
    
h2 {
    font-family: 'Rubik';
    text-align: center;
    color: white;
}
h5 {
    color: black;
}
