html, body {
    animation: gradient 15s ease infinite
}
.jumbotron-header {
    background-color: #333433; 
    padding: 30px; 
    width: calc(100vw - 200px);
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}
  
  .jumbotron-header h1 {   
    color: white;
    font-family: 'Rubik';
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    font-size: 70px;
    margin-top: 10px;
    text-align: center;
  }
  
  .jumbotron-header p {
    font-size: 18px;
    text-align: center; 
    font-family: 'Rubik';
  }


.article-image {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    box-shadow: 1px 1px 1px black;
    
}
h2 {
    color: white;
    font-family: 'Rubik';
    text-shadow: 1px 1px 1px black;
}

ol {
    color: white;
    font-family: 'Rubik';
    text-shadow: 1px 1px 1px black;
    text-align: left;
    font-size: 18px;
}
p {
    color: white;
    text-shadow: 1px 1px 1px black;
    
    
}
.article-control {
    color: white;
    font-family: 'Rubik';
    text-shadow: 1px 1px 1px black;

}
.btn {
    color: white;
    box-shadow: 1px 1px 2px black;
    font-family: 'Rubik';
    background-color: darkblue;
}
.content {
    text-align: left;
}
