
.atom {
    position: absolute;
    top: 65px;
    right: 105px;
    width: 25vw;
    height: auto;
    opacity: 0.3;
    
    
}
.letter[data-after=" "]::after {
    content: attr(data-after);
    white-space: pre;
  }
.container1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }    
  .hr-blurry {
    color: white;
    width: cover;  }

    
  
  .shadows {
      position: relative;
      text-transform: uppercase;
      text-shadow: -15px 5px 20px #ced0d3;
      color: white;
      letter-spacing: -0.05em;
      font-family: 'Anton', Arial, sans-serif;
      user-select: none;
      text-transform: uppercase;
      font-size: 11vw;
      transition: all 0.25s ease-out;
      right: 0.75em;
  }
  .shadows:hover {
      text-shadow: -16px 6px 15px #ced0d3;
  }
  @media screen and (max-width: 1050px) {
    .shadows {
        height: 60vh;
        text-align: center;
        font-size: 3.5em;
        margin-left: 1em;
    }
    .atom {
        display: none;
    }
    
}

.custom-heading {
    color: white;
    font-family: 'Rubik';
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    justify-content: center;
    position: relative;
    animation: glow 2s ease-in-out infinite;
    font-size: 5em;
    text-align: center;
    padding-top: 170px;
}

@keyframes glow {
    0% {
        text-shadow: 2px 2px 3px black;
    }
    50% {
        text-shadow: 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
    }
    100% {
        text-shadow: 2px 2px 3px black;
    }
}

h3 {
    color: white;
    font-family: 'Rubik';
    text-shadow: 2px 2px 3px black;
    transform: scale(0);
    animation: scale-in 1s forwards;
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
p{ 
    color: white;
    font-family: 'Rubik';
    text-shadow: 1px 1px 1px black;
    
}
.button-group {
    padding: 0.9375em;
}

.btn-primary {
    background-color: #ac1b33;
    border-color: #FF4F6D;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1em;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.model-content {
    border: none;
    border-radius: 0.98em;
}
.btn-primary:hover {
    background-color: #FF296D;
    transform: scale(1.1);
}
.modal-body {
    padding: 30px;
    font-family:'Rubik';
}
.form-control {
    box-shadow: 1px 1px 1px black;    
}

.social-button {
    display: inline-block;
    background-color: #3b5998;
    color: #ffffff;
    border: none;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    margin: 5px;
    width: 30px;
    text-align: center;
}

.social-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-buttons-container {
    margin-bottom: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}

.close-popup {
    margin-top: 10px;
    cursor: pointer;
}

.carousel {
    margin-top: 140px;
}
.carousel-item:nth-child(1) img {
    border-radius: 20px;
}
.carousel-item:nth-child(2) img {
    width: 500px;
    height: 350px; 
    border-radius: 20px; 
    object-fit: cover
}
.carousel-item:nth-child(3) img {
    border-radius: 20px;
    height: 350px;
    width: 600px;
}
footer {
    width: 100%;
    font-family: 'Rubik';
}
.jumbotron{
    padding: 2em;
    margin-top: 2em;
    width: 90vw;
    background-image: url('https://i.pinimg.com/originals/7a/1c/04/7a1c04314b9f57d49ecee495486b62f8.jpg');
}
h1 {
    font-family: 'Rubik';
    color: white;
    text-shadow: 1px 1px 1px black;
    
}