html, body {
    animation: gradient 15s ease infinite
}
h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    animation: glow 2s ease-in-out infinite;
    font-size: 90px;
    font-style: italic;
    margin-top: 70px;
}
#subheader {
    color: white;
    font-size: 30px;
    padding: 10px;
    position: relative;
    opacity: .7;
  }
  
  #subheader::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 2px;
    background-color: #a6c0fe;
  }
img {
    height: 35%;
    width: 60%;
    margin-left: 50px;
    border-radius: 110px;
    border-color: white;
    border: 2px solid white;
}
#social {
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    margin-top: 10px;
}
.social {
    margin-right: 10px;
}

@keyframes glow {
    0% {
        text-shadow: 2px 2px 3px black;
    }
    50% {
        text-shadow: 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
    }
    100% {
        text-shadow: 2px 2px 3px black;
    }
}
.paragraph {
    margin-right: 20px;
    margin-left: -30px;
}

h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    font-size: 50px;
    font-style: italic;
    margin-top: 30px;
    text-align: center;
}
.hr {
    color: white;
}
p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}
ul {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}