{% extends 'base.html' %}

{% block head %}
<meta name="keywords" content = "about, fitness, science, exercise, calisthenics, nutrition, motivation">
<meta name="description" content ="I am a fitness enthusiast looking to share my knowledge and inspire others">
<link rel="stylesheet" href="{{url_for('static', filename='css/style3.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col ml-lg-2 mx-auto">
            <h1>About Me</h1>
            <div class="col ml-lg-2 mx-auto ">
                <p class="lead" id="subheader">Fitness and Physics...well mostly Fitness
                    ...but a little bit of physics....
                </p>
                <img src="https://i.ibb.co/qdNxhxJ/chrislombardi2.jpg">            
            <div class="col ml-lg-2 mx-auto" style="margin-right: 90px;">
            <div id = "social">
                <a href="https://www.facebook.com/chris.lombardi.5" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-github"></i>
                </a>
                <br>
              </div>
            </div>
            </div> 
        </div>
        <div class="col ml-lg-2 mx-auto">
        <div class="paragraph" style="padding-left:1.5em;">
            <h3>How it Began</h3>
            <hr class="hr hr-blurry" />
            <p>My fitness journey began at a young age. Growing up, I was very active and had a very athletic group of friends who had an enormous influence in how I chose to spend my time.
              This usually including outdoor sports and then gradually grew into weightlifting when I entered high school. Athough it was more of a hobby back in those days, it has since
              become an intense passion of mine. It has continued to grow since then, and I have devoted a great deal of my time to perfecting my workout routines, while also learning
              as much as I could from online resources, and in-person with other fitness professionals. Weightlifting, however, has kind of taken a back seat to my new growing passion: calisthenics.
              Because of this, my exercise style includes a combination of styles, focusing on body-weight training, but also incorporating heavy lifting to maintain muscle mass and build the best
              body possible. 
            </p>
            <h3>Life Happens</h3>
            <hr class="hr hr-blurry" />
            <p>After high school, I received an academic scholarship to attend the University of Miami. I thought I had everything figured out and that I would have a smooth road to success and
              happiness. Life had other plans for me. In my twenties, I started seeking help for my growing depression, which seemed to come about with no apparent cause. Although I noticed marginal 
              improvements, I eventually turned to drugs to self-medicate which turned out to be the lynchpin in the next 10 or so tumoltuous years of my life. I dropped out of college, moved back in with my parents, 
              and spent many years with no direction at all, ultimately ending up in prison for a crime related to my drug use. I have been very open with anyone I meet about my current situation (at the time of writing this
              I am in a half-way house looking foward to my release in the next 6 weeks), because it says a lot about my character and my ability to continue on despite life's challenges. I also mention this because, although
              the main goal of creating this website is to help anyone interested in fitness, I also want to inspire others to pursue self-improvement even if they are facing adversity. Change can and does happen when hard work is put in!              
            </p>
            <h3>What this Site Offers</h3>
            <hr class="hr hr-blurry" />
            <p>Here at The Fit Physicist you can find:</p>
            <ul>
                <li>Free Workout Plans</li>
                <li>Weight Lifting and Calisthenics Advice</li>
                <li>Nutrition and Recipes</li>
                <li>Supplementation Reccomendations</li>
                <li>Motivational and Inpriational Material</li>
            </ul>
            <p>Everything I provide is free of charge and comes from my own experience. If you would like, sign up for the website on the homepage and you 
              will be able to contribute your own articles to inspire others!</p>
              <h3>Where it's Going</h3>
              <hr class="hr hr-blurry"/>
              <p style = "text-align:left; left: 0">My goal is for this website to inspire other to pursue their fitness goals and achieve the ideal body.
              It took me a long time to be comfortable in my own skin, something I still continually work on everyday, so don't feel bad
              if you aren't where you want to be in terms of fitness level. Feel free to reach out to me if you need to talk. If you click the
              contact tab at the top of the screen it will pull up a place for you to leave a message. I will get back to you as soon as possible.
              Also, keep in mind that this site is a work-in-progress. I have coded everything myself so if something isn't working, I apologize. I'm still
              new to web design. New material will be posted weekly as well, so stay tuned. Thanks fo visiting!</p>
        </div> 
    </div>
</div>
{% endblock %}
