{% extends 'base.html' %}

{% block head %}
<meta name="description" content="Calisthenics can provide you with a safe and effective alternative to weight-lifting">
<link rel="stylesheet" href="{{url_for('static', filename='css/style8.css')}}">
{% endblock head %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Calisthentics Primer</h1>
    <p class="lead">Calisthenics has become an increasingly popular exercise choice. This style of workout can reduce injury risk
        while also increasing full body strength and coordination
    </p>
    <hr class="hr hr-blurry" />
    <img src="https://cdn.shopify.com/s/files/1/0090/4773/6378/articles/Best_Calisthenic_Workout_for_Beginners.jpg?v=1636398453&width=1800" class='pic'>
    <br>
    <h3 class='subheader'>My Experience</h3>
    <p>
      I have a love hate relationship with calisthenics. Let me clarify that. It's not because they aren't effective and can't build muscle, but because of how difficult and discouraging they can be.
      Most people think of the basic pushups, pullups, and dips when they think of calisthenics, however, the more advanced moves including muscle ups, flags, and handstands are what most people are striving for these days. 
    </p>
    <hr class="hr hr-blurry" />
    <h3>Getting Started</h3>
    <p>
      Here are some basic bodyweight exercises to get started for anyone interested in calisthenics. The standard bodyweight exercises are all included. 
    </p>
    <hr class="hr hr-blurry"/>
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1" data-bs-toggle="collapse" data-bs-target="#list-item-1" aria-expanded="false" aria-controls="list-item-1">Pushups</a>
      <div class="collapse" id="list-item-1">
        <p>
          Of course, no bodyweight workout list is complete without pushups, so we are gonna being with them. Hopefully most people know how to do them, but I want to clarify a few form points.
          Most people do not lock out their arms when doing pushups because it allows them to complete more reps. I believe this is counterproductive to progressing with calisthenics. Most
          of the more advanced exercises require straight arm strength and locking out your arms whie doing pushups is good practice for when you decide to go on to more advanced techniques.
          I also want you to go all the way down until your chest touches the floor and pause for a second before pressing back up. Calisthenics is about body control and pasuing at the bottom makes
          the pushup more difficult, which will carry over into other areas. Your elbows should be next to your body and not flared out to the sides as well. Don't worry
          about the number of reps you can do. With this style of pushups, you will not be able to complete as many reps as usual, but that's ok. These will be more effective
        </p>
      </div>
      <a class="list-group-item list-group-item-action" href="#list-item-2" data-bs-toggle="collapse" data-bs-target="#list-item-2" aria-expanded="false" aria-controls="list-item-2">Pull-Ups</a>
      <div class="collapse" id="list-item-2">
        <p>
          This is definitely an exercise that brings a lot of controversy since most people I see tend to do these incorrectly. If you are planning to go onto to doing muscle-ups, I can confindently say that most of you 
          are probably not using the correct pulling techniques to propel you into that arena. Instead of neglecting your lower body during pullups, I want you to turn this into more of a full body exercise. Keep your feet together and squeeze your
          core as you complete the reps. Also, in place of the usual chest-up position that people use for pullups, I want you to adopt a hollow body position which puts you more upright whenc doin the exercise. This will be much more
          difficult at first and will definitely decrease the number of reps you can complete, but it will become easier with practice. Remember to completely lock your arms out at the bottom as well. Most people
          tend to do this kipping motion when doing pull-ups and only seem to go down about half way before throwing themselves back up. This will lead to bad form in the long run and wont prime your body for the full body awareness
          that is required to advance in calisthenics. Of course, there is more nuance that this. You also need to remember to contract your scapula during pullups to prevent shoulder injuries and to place yourself in a more
          powerful starting postion. I refer you to my video series of technique to get a better view of this. 
        </p>
      </div>
      <a class="list-group-item list-group-item-action" href="#list-item-3" data-bs-toggle="collapse" data-bs-target="#list-item-3" aria-expanded="false" aria-controls="list-item-3">Dips</a>
      <div class="collapse" id="list-item-3">
        <p>
          Dips are one of my absolute favorite exercise. They have multiple different progressions that can be scaled due to ability and they also provide a killer muscle building stimulus. They can also target different muscle groups depending 
          on body position. Again, I want you to full lock out your arms when doing the pressing movement as this can greatly increase your straight arm stength which will transfer over to handstands and other advanced pressing movements. When lowering yourself, 
          you should pasuse for a second at the bottom to full prevent yourself from using momentum to press yourself back up and also to get rid of any stretch reflex. This will, again, make the exercise more diffcult, but will lead to greater increases in strength
          and body control. Remeber to lean foward if you want to target your chest and shoulder and to remain as upright as possible if you want to target your triceps.  
        </p>
      </div>
      <a class="list-group-item list-group-item-action" href="#list-item-4" data-bs-toggle="collapse" data-bs-target="#list-item-4" aria-expanded="false" aria-controls="list-item-4">Planks</a>
      <div class="collapse" id="list-item-4">
        <p>
          Planks are another staple for any bodyweight fitness enthusiast, however, I prefer a couple variations to help with their carryover strength to other exercises. Primarily, I want you to rememebr to maintain a 
          hollow body position when performing this exercise instead of the shallow position that most people fall victim to. Press through your shoulder joint, keep your lower back slight rounded, flex your glutes and abs, whilst keeping
          full tension throughout your body. I am a huge fan of making planks unstable through lifting one leg or one hand off the groung when performing them. This will improve your balance and will greatly challenge your core strength and stability. 
          Calisthenics requires a great deal of core strength and endurance. Planks are essential to help you get these prerequistes. 
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}