{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/delete.css')}}">
{% endblock head %}

{% block content %}

<h1>Delete Article</h1>
<p>Are you sure you want to delete the article: {{ article.title }}?</p>

<form method="POST" action="{{ url_for('article.delete', id=article.id) }}">
  <input type="submit" value="Delete" class="delete-button">
  <a href="{{ url_for('main.index') }}" class="cancel-link">Cancel</a>
</form>

{% endblock content %}