{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style6.css')}}">
<!-- Include Quill's CSS -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form method="POST" id="main" enctype="multipart/form-data" onsubmit="updateContentField()">
  <div class="form-group">
    <h3>Contribute to The Fit Physicist 💜</h3>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      placeholder="Article Title"
      required
    />
  </div>
  <div class="form-group">
    <label for="topic">Topic</label>
    <input
      type="text"
      name="topic"
      class="form-control"
      placeholder="Workouts, Blog, Nutrition, Supplements, Recovery, Motivation"
      required />
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <div id="editor" style="max-width: 785px"></div>
    <input type="hidden" name="content" id="content-field" required>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" name="image" id="image" class="custom-file-input" accept="image/*" onchange="updateLabel(this)" />
      </div>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary custom-remove-button" onclick="removeImage()">Remove</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Post Article" class="button" />
  </div>
</form>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });

  function updateContentField() {
    var contentField = document.getElementById("content-field");
    contentField.value = quill.root.innerHTML; 
  }

  function updateLabel(input) {
    var label = document.getElementById("image-label");
    if (input.files && input.files.length > 0) {
      label.textContent = input.files[0].name;
    } else {
      label.textContent = "Choose Image";
    }
  }
  
  function removeImage() {
    var input = document.getElementById("image");
    var label = document.getElementById("image-label");
    input.value = "";
    label.textContent = "Choose Image";
  }
</script>
{% endblock %}
