{% extends 'base.html' %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/7551e7a036.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}">
{% endblock %}

{% block content %}

<img src="https://i.ibb.co/m562w1S/atom.png" alt="atom" class="atom"><div class="container1">
  <div class="shadows">
    <span class="letter">T</span>
    <span class="letter">h</span>
    <span class="letter">e</span>
    <span class="letter" data-after=" "></span>
    <span class="letter">F</span>
    <span class="letter">i</span>
    <span class="letter">t</span>
    <br>
    <span class="letter">P</span>
    <span class="letter">h</span>
    <span class="letter">y</span>
    <span class="letter">s</span>
    <span class="letter">i</span>
    <span class="letter">c</span>
    <span class="letter">i</span>
    <span class="letter">s</span>
    <span class="letter">t</span>
    <hr class="hr hr-blurry"/>
  </div>
</div>
  
      <h3 class="custom-heading2 text-white m-0">A Health and Wellness Website</h3>
      <p>-Free fitness articles and videos from a lifelong fitness addict-</p>
        <div class="button-group">
          <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Sign Up
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          Log In
          </button>
        </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" autocomplete="on">
                </div>
                  <div class="mb-2">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" autocomplete="on">
                </div>
                <div class="mb-2">
                  <label for="last_name" class="form-label">Last Name</label>
                  <input type="text" id="last_name" name="last_name" class="form-control" autocomplete="on">
              </div>
                <div class="mb-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" autocomplete="on">
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="confirm-password" class="form-label">Repeat Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" class="form-control">
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="terms">
                    <label class="form-check-label" for="terms">
                        I agree to all statements in Terms of Service
                    </label>
                </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" id="signup-button" name="signup-button" class="btn btn-primary" disabled>Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel2">Log In</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div class="mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="login-username" class="form-control" autocomplete="on">
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="login-password" class="form-control" autocomplete="on">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" id="login-button" class="btn btn-primary">Log In</button>
                </div>
              </div>
            </div>
          </div>
          </div>
        <div class="social-buttons-container">
            <a href="https://www.facebook.com/chris.lombardi.5" class="social-button">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="social-button">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="social-button">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="" class="social-button">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <a href="" class="text-decoration-none">
          <h5 class="fw-light text-white m-0">— A website by Chris Lombardi —</h5>
        </a>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
              <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="https://t3.ftcdn.net/jpg/01/89/08/94/360_F_189089418_F2mDjkop5945nBmJyUGjQUUoLDZxVD1a.jpg" alt="workout-img">
                  <div class="carousel-caption">
                      <h3>Workouts</h3>
                      <p>Original workout plans</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="https://images.everydayhealth.com/images/what-is-the-dash-diet-1440x810.jpg?w=1110" alt="nutrition-img">
                  <div class="carousel-caption">
                      <h3>Nutrition</h3>
                      <p>Diet advice and meal plans</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="https://images.ctfassets.net/u4vv676b8z52/6ZLG8wdXfOtN758dFR95P8/cf2e185850f49a9868bcf550a67e9d3d/nutrition-vitamins-678x446.jpg?fm=jpg&q=80" alt="supplement-img">
                  <div class="carousel-caption">
                      <h3>Supplements</h3>
                      <p>Best supplement advice</p>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </a>
      </div>
      
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
          $(document).ready(function () {
            $("#terms").change(function () {
              if (this.checked) {
                $("#signup-button").prop("disabled", false);
              } else {
                $("#signup-button").prop("disabled", true);
              }
            });
          
            $("#signup-button").click(function (event) {
              event.preventDefault();
          
              // Get form values
              var action = "register";
              var username = $("#username").val();
              var firstName = $("#first_name").val();
              var lastName = $("#last_name").val();
              var email = $("#email").val();
              var password = $("#password").val();
              var confirmPassword = $("#confirm-password").val();
              var terms = $("#terms").prop("checked");
          
              // Validate form values
              if (!username || !firstName || !lastName || !email || !password || !confirmPassword) {
                alert("Please fill in all fields");
                return;
              }
          
              if (password !== confirmPassword) {
                alert("Passwords do not match");
                return;
              }
          
              if (!terms) {
                alert("Please agree to the Terms of Service");
                return;
              }
          
              // Make an AJAX request to the server
              $.ajax({
                url: "{{url_for('main.index')}}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                  action: action,
                  username: username,
                  first_name: firstName,
                  last_name: lastName,
                  email: email,
                  password: password,
                }),
                success: function () {
                  alert("Sign up successful!");
                  location.reload();
                },
                error: function (xhr) {
                  var response = JSON.parse(xhr.responseText);
                  alert("Sign up failed: " + response.message);
                },
              });
            });
          });
          
        </script>
        <script>
          $(document).ready(function () {
            $("#login-button").click(function (event) {
              event.preventDefault();
        
              var action = "login";
              var username = $("#login-username").val();
              var password = $("#login-password").val();
        
              console.log("Username:", username);
              console.log("Password:", password);
        
              if (!username || !password) {
                alert("Please fill in all fields");
                return;
              }
        
              $.ajax({
                url: "{{ url_for('main.index') }}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                  action: action,
                  username: username,
                  password: password,
                }),
                success: function () {
                  alert("Login successful!");
                  location.reload();
                },
                error: function (xhr) {
                  var response = JSON.parse(xhr.responseText);
                  alert("Login failed: " + response.message);
                },
              });
            });
          });
        </script>
        <div class="jumbotron">
          <h1 class="display-4">Join the Revolution!</h1>
          <p class="lead">Sign up today to enjoy all of our free content. It's easy! Don't miss out on everything we have to offer! </p>
          <hr class="hr hr-blurry">
          <p>Check back daily for updated articles and new video tutorials.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{url_for('main.about')}}" role="button">Learn more</a>
          </p>
        </div>
  <!-- Footer -->
 
{% endblock %}
