{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style8.css')}}">
{% endblock head %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Recovery</h1>
    <p class="lead">Your results can either be enhanced or hindered significantly by how well you program recovery into your routine.</p>
    <hr class="hr hr-blurry" />
    <img src="https://www.realsimple.com/thmb/LCutiR6KyW8doXLRG7wzgQnRpdA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/stretching-exercises-workout-easy-basic-2000-6aec559bf2c54cb99b035bc338992a13.jpg">
    <br>
    <h3>My Experience</h3>
    <p>
        When you start to see results, it is very tempting to spend more hours in the gym or go everyday, sometimes even twice a day, but this is a mistake. Muscle is built during rest and, without it, your progress will be serverely limited. I have definitiely been guilty of this in the past, especially during my incarceration where I found solace in exercise. However, I noticed that when I was training up to 7 days a week that my progress weas definitely not as strong as it was when i took more time off from working out. The solution to this problem, for me, was to incorporate active recovery days into my routine.
    </p>
    <hr class="hr hr-blurry" />
    <h3>Getting Started</h3>
    <p>
        I usually take only one or two days off a week and utilize active recovery on at least one of those off-days. I have been working out for years though so I dont'r reccommend exercising for up to 6 days a week.
    </p>
    <hr class="hr hr-blurry"/>
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1" data-bs-toggle="collapse" data-bs-target="#list-item-1" aria-expanded="false" aria-controls="list-item-1">Jogging</a>
      <div class="collapse" id="list-item-1">
        <p>
            Jogging on an off day is highly reccommended. In fact, I believe it to be one of the most effective methods for recovery. Jog at a pace that slightly gets your heart rate up and do not go for more than 30 min. This is not supposed to be a cardio workout itself, but is more intended to just keep your body active and healthy between workout days. Jogging at a light pace can help relieve muscle soreness from previous days by helping to speed up the emptying of lactic acid. Make sure you only jog at a pace where you can comfortably maintain a conversation. If you lose your breathe, take the pace down!
        </p>
      </div>
      <a class="list-group-item list-group-item-action" href="#list-item-2" data-bs-toggle="collapse" data-bs-target="#list-item-2" aria-expanded="false" aria-controls="list-item-2">Yoga</a>
      <div class="collapse" id="list-item-2">
        <p>
            Yoga can be another beneficial form of active recovery. It is extremely useful to help open up your hips and prime your body for certain movements that require some flexibility, specifically for ones that require a hip hinge. Yoga is also known promoting proper breathing, which is essential in an fitness routine. You will notice that any athlete who is successful, maintains a proper breathing rate throughout their routine. Instead of just gasping for air when they are tired, the athlete maintains a constant, steady breathe intake, which prevents tiring out and helps them achieve full body control. 
        </p>
      </div>
      <a class="list-group-item list-group-item-action" href="#list-item-3" data-bs-toggle="collapse" data-bs-target="#list-item-3" aria-expanded="false" aria-controls="list-item-3">Light Resistance Circuits</a>
      <div class="collapse" id="list-item-3">
        <p>
            You are also able to use a lifting style workout on your recovery days, but these are not nearly as intense as a regular session. With resistance bands, you can perform an easy circuit-style workout, using exercises to target your entire body. This is a good way to work on form as well. Pick about 5 different movements and perform each for 30 seconds on 30 seconds off. Repeat 3 times. 
        </p>
      </div>
      <a class="list-group-item list-group-item-action" href="#list-item-4" data-bs-toggle="collapse" data-bs-target="#list-item-4" aria-expanded="false" aria-controls="list-item-4">Foam Rolling</a>
      <div class="collapse" id="list-item-4">
        <p>
            Last, but not least, foam rolling is a great inclusion on your active recovery days. The massaging action of the roller helps to relieve and prevent Delayed-Onset-Muscle-Soreness, which can help you recover quickly so you can perform better during your next workout. Foam rolling is also reporeted to help with your range-of-motion
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
