{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/article_style.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
{% endblock head %}

{% block content %}
<div class="jumbotron jumbotron-header">
  <div class="container">
    <h1>{{ article.title }}</h1>
    <p class="lead">Written By: {{article.author}}<br>
      <p>Published on: {{article.created_on.strftime('%b/%d/%Y')}}</p></p>
      {% if article.image %}
      <img src="{{ url_for('uploads.get_uploaded_file', filename=article.image) }}" alt="Article Image" class="article-image" />
      {% endif %}
      <p class ="content">{{ article.content | safe }}</p>
  </div>
</div>

<hr class="hr hr-blurry" />


<h2>Comments</h2>
<hr class="hr hr-blurry" />

{% for comment in comments %}
  <div class="comment">
    <p><strong>{{ comment.user.username }}</strong> said on {{ comment.created_on.strftime('%b/%d/%Y') }}:</p>
    <p>{{ comment.text }}</p>
    {% if current_user.id == comment.user_id or current_user.id == 1 %}
    <form method="POST" action="{{ url_for('article.delete_comment', comment_id=comment.id) }}">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {% endif %}
  </div>
{% endfor %}

<style>
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap');
</style>
{% endblock content %}
